@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Arapey:400italic);

// NAVBAR

ul.title-area h1 a {
	font-family: "Montserrat";
	font-weight: 400;
	box-shadow: 0 0 0 black;
	&:hover {
		background-color: turquoise;
		color: black;
		height: 55px;
		// width: 110%;
		// box-shadow: 15px 15px 0 black;
		box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
		z-index: 1;

	}
}


.top-bar-section ul {
	li a:not(.button) {
		font-family: "Arapey";
		font-weight: 400;
		font-style: italic;
		// font-size: 1em;
		// padding: 0 1.5em 0 1.5em;
	}
}

ul.left li a{
	&:hover {
		color: black;
		height: 55px;
		margin-bottom: -10px;
		clear: both;
	}

	&.navbutton-1:hover {
		background: Salmon;
	}
	&.navbutton-2:hover {
		background-color: orange;
	}
	&.navbutton-3:hover {
		background-color: yellow;
	}
	&.navbutton-4:hover {
		background-color: lightGreen;
	}
	&.navbutton-5:hover {
		background-color: aquamarine;
	}
}



li.toggle-topbar.not-expanded a {
	&:hover {
		background-color: yellow;
		color: black;
	}
}

.top-bar.expanded a.menu {
	background-color: yellow;
	color: black;
	span {
		box-shadow: none;
	}
}

// BODY

.container {
	margin: 2em 5em 0 5em;
	padding: 10px;
	background-color: lightGrey;
}

